// Colors Var
$primary-color: #267399;
$light-gray: #f1f4f8;
$gray:#a0a2a5;
$dark-gray: #2d3748;
$dark-gray-light: #4a5568;
$white: #fff;
$placeholder: #cad2de;

// Font-Family
$font-roboto: 'Roboto', sans-serif;