<div class="container-fluid px-4 container-wrapper" id="dashboard-wrapper">
    <div class="row outer-dashboard">
        <div class="inner-content-wrapper mt-0 p-4 w-100">
            <!-- <span class="material-icons home-ico">
                home
            </span> -->
            <div class="row mx-0">
                <div
                    class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 sec-1 px-0  d-flex align-items-center rounded text-white">
                    <div class="row w-100 mx-0 h-100">
                        <div class="col-12 col-sm-8 d-flex align-items-center py-3 py-sm-0 justify-content-center">
                            <h1 [hidden]="!timezone" class="mr-2 mb-0"> {{currentDate | date:'dd'}} </h1>
                            <span class="pl-2">
                                <h4 [hidden]="!timezone" class="mt-2 ">{{currentDate | date:'EEEE'}}</h4>
                                <h5 [hidden]="!timezone" class="mt-0">{{currentDate | date:'MMMM yyyy'}}</h5>
                            </span>
                        </div>
                        <div
                            class="col-12 col-sm-4 d-flex align-items-center weather-update justify-content-center px-0">
                            <span class="text-center">
                                <!--It will only show after city or state has new value.-->
                                <h4 [hidden]="!timezone" class="mt-2 mb-0">{{city}}, {{country}}</h4>
                                <p class="mt-0">updated a few minutes ago</p>
                                <h3 [hidden]="!temperature"
                                    class="d-flex align-items-center justify-content-center mb-0">
                                    <span>
                                        <!-- brightness_3 -->
                                        <img [hidden]="!iconUrl" [src]="iconUrl" alt="Weather icon">
                                    </span>
                                    {{temperature}}
                                </h3>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 sec-2 mt-sm-4 mt-md-0 mt-lg-0">
                    <div class="row inner-content-wrapper ml-md-0 mx-xl-0 h-100">
                        <div
                            class="col-12 col-sm-4 col-lg-4 px-0 pr-sm-2 pl-xl-0 pl-xl-1 mb-4 mb-md-0 mt-4 mt-sm-0 text-center">
                            <div class="inner-sec-1 rounded pt-4">
                                <span>
                                    <h1> {{newPatient}} </h1>
                                    <p class="mb-0">New Patients</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 col-lg-4 px-0 px-sm-2 mb-4 mb-md-0 px-xl-2 text-center">
                            <div
                                class="inner-sec-2 rounded pt-4">
                                <span>
                                    <h1> {{dueReport}} </h1>
                                    <p class="mb-0">Report Due</p>
                                </span>
                            </div>
                        </div>
                        <div
                            class="col-12 col-sm-4 col-lg-4 px-0 pl-sm-2 pl-md-2 pr-lg-0 pr-xl-1 mb-4 pr-md-0 mb-md-0 text-center">
                            <div class="inner-sec-3 rounded pt-4">
                                <span>
                                    <h1> {{totalPatient}} </h1>
                                    <p class="mb-0 px-1">Total Patients</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 py-2 sec-3 mt-md-4 mt-lg-4 mt-xl-0 rounded notification-sec">
                    <!-- <div>Some tags before</div>
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let slide of slidesStore">
                            <ng-template carouselSlide [id]="slide.id">
                                <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                    <div>Some tags after</div> -->
                    <h2 class="pt-2"> Notifications </h2>
                    <h4 *ngIf="notificationArr && notificationArr.length == 0">No notification as of now!</h4>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor="let notification of notificationArr" [id]="notification.id">
                            <div class="row pt-2">
                                <div class="col-6">
                                    <h4>{{notification.title}}</h4>
                                </div>
                                <div class="col-6 text-right">
                                    <p class="pr-3">{{formatDateTimeToUTC(notification?.creationTime) | date: 'MMM dd,
                                        yyyy hh:mm a': userTimezone?.offset}} {{userTimezone?.abbr}}</p>
                                </div>
                            </div>
                            <p>{{notification.content}}</p>
                        </ng-template>
                    </owl-carousel-o>
                    <!-- <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor="let notification of notificationArr" [id]="notification.id">
                            <h4>{{notification.title}}<p>
                                    {{formatDateTimeToUTC(notification?.creationTime) | date: 'MMM dd, yyyy hh:mm a': userTimezone?.offset}}
                                    {{userTimezone?.abbr}}</p>
                            </h4>
                            <p>{{notification.content}}</p>
                        </ng-template>
                    </owl-carousel-o> -->
                    <!-- <h4> Lorem Ipsum is simply </h4>
                    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                        eget dolor. </p>
                    <div class="col-12 d-flex justify-content-end align-items-center pr-sm-0">
                        <button class="dismiss-btn d-flex align-items-center px-2 mt-2 mt-xl-4">
                            <span class="material-icons mr-1">
                                block
                            </span>
                            Dismiss
                        </button>
                    </div> -->
                </div>
            </div>
            <div class="row mt-3 mx-sm-0">
                <div class="col-12 col-sm-12 col-lg-6 col-xl-4 px-sm-0">
                    <div class="row mx-0 next-appoint-sec text-white rounded p-3"
                        [ngClass]="upcomingAppointment?.bookedBy ? 'booked-by' : 'booked-by-none'">
                        <div class="col-12 col-sm-8 pl-0">
                            <ng-template [ngIf]="upcomingAppointment" [ngIfElse]="noNextAppointment">
                                <h3 class="mb-0 cp">
                                    <span appDebounceClick [debounceTime]="400" (debounceClick)="nextAppointmentClick(upcomingAppointment?.appointmentId)"> Next
                                        Appointment </span>
                                </h3>
                            </ng-template>
                            <ng-template #noNextAppointment>
                                <h3 class="mb-0"><span> Next Appointment </span></h3>
                            </ng-template>
                            <p class="cursorPointer my-2"
                                appDebounceClick [debounceTime]="400" (debounceClick)="nextAppointmentClick(upcomingAppointment?.appointmentId)">
                                {{upcomingAppointment?.patientName}}</p>
                            <p class="cursorPointer my-2" *ngIf="upcomingAppointment?.bookedBy"
                                style="font-size: 14px;"> ({{upcomingAppointment?.bookedBy}})</p>
                            <h4 class="mb-4">
                                {{formatDateTimeToUTC(upcomingAppointment?.slotStartTime) | date: 'MMMM dd, yyyy' :
                                userTimezone?.offset}}
                                <span
                                    class="d-inline-block align-items-center">{{formatDateTimeToUTC(upcomingAppointment?.slotStartTime)
                                    | date: 'h:mm a': userTimezone?.offset}}
                                    {{upcomingAppointment?.appointmentId ? userTimezone?.abbr: ''}}</span>
                            </h4>
                            <ng-template [ngIf]="upcomingAppointment?.isBookingResechdule">
                                <span class="d-flex align-items-center button-wrap"
                                    *ngIf="upcomingAppointment?.appointmentDate; else recordNotFound">
                                    <button class="d-flex align-items-center text-white mt-3"
                                        appDebounceClick [debounceTime]="400" (debounceClick)="rescheduleClick(upcomingAppointment?.appointmentId, upcomingAppointment?.doctorId)">
                                        <span class="material-icons text-white pr-1">
                                            update
                                        </span>
                                        Reschedule
                                    </button>
                                    <button class="d-flex align-items-center ml-3 text-white mt-3"
                                        appDebounceClick [debounceTime]="400" (debounceClick)="cancelClick(upcomingAppointment?.appointmentId)">
                                        <span class="material-icons text-white pr-1">
                                            highlight_off
                                        </span>
                                        Cancel
                                    </button>
                                </span>
                                <ng-template #recordNotFound>
                                    <span class="d-flex align-items-center button-wrap">
                                        <button class="d-flex align-items-center text-white mt-3">
                                            <span class="material-icons text-white pr-1">
                                                update
                                            </span>
                                            Reschedule
                                        </button>
                                        <button class="d-flex align-items-center ml-3 text-white mt-3">
                                            <span class="material-icons text-white pr-1">
                                                highlight_off
                                            </span>
                                            Cancel
                                        </button>
                                    </span>
                                </ng-template>
                            </ng-template>
                        </div>
                        <div class="col-12 col-sm-4 d-flex align-items-center justify-content-start justify-content-sm-center">
                            <!-- <img src="assets/images/white-video.png" alt="video-cam" class="ico-video"> -->
                            <ng-template [ngIf]="upcomingAppointment?.isJoinMeeting" [ngIfElse]="disableImgApply">
                                <img *ngIf="upcomingAppointment?.meetingId === undefined || upcomingAppointment?.meetingId === null || upcomingAppointment?.meetingId === ''"
                                    src="assets/images/white-video.png" alt="video-cam" class="w-100 video-ico mt-4 mt-sm-0">
                                <a style="cursor: pointer;"
                                    *ngIf="upcomingAppointment?.meetingId !== undefined && upcomingAppointment?.meetingId !== null && upcomingAppointment?.meetingId !== ''"
                                    appDebounceClick [debounceTime]="400" (debounceClick)="gotoSamvaad(upcomingAppointment?.appointmentId, upcomingAppointment?.meetingId, upcomingAppointment?.Title, upcomingAppointment?.patientId, upcomingAppointment?.roleName)"
                                    target="_blank"><img src="assets/images/samvaad.png" alt="Video Conference"
                                        class="w-100 video-ico mt-4 mt-sm-0"></a>
                            </ng-template>
                            <ng-template #disableImgApply>
                                <img src="assets/images/white-video.png" alt="video-cam" class="w-100 video-ico mt-4 mt-sm-0">
                            </ng-template>
                           
                        </div>
                    </div>
                    <div class="col-12 px-0 upcoming-appoint-sec rounded mt-4 mb-4"
                        [ngClass]="upcomingAppointment?.bookedBy ? 'upcoming-booked-by' : 'upcoming-booked-by-none'">
                        <mat-tab-group>
                            <mat-tab label="Upcoming Appointments">
                                <!-- <h3 class="pt-3 px-3"> Upcoming Appointments </h3> -->
                                <ul #upcomingAppointmentUl class="px-3 mb-0" (scroll)="scrollHandler($event,'upcomingAppointment')">
                                    <li *ngFor="let upAppointments of upcomingAppointments; let i=index">
                                        <ng-container *ngIf="i!=0">
                                            <div class="date-sec text-center pr-2">
                                                <!-- 15 <br />Nov -->
                                                {{formatDateTimeToUTC(upAppointments?.slotStartTime) | date: 'dd' :
                                                userTimezone?.offset}}<br />
                                                {{formatDateTimeToUTC(upAppointments?.slotStartTime) | date: 'MMM':
                                                userTimezone?.offset}}
                                            </div>
                                            <div class="detail-sec pl-2">
                                                <p class="mb-0" class="cursorPointer mb-0"
                                                    appDebounceClick [debounceTime]="400" (debounceClick)="nextAppointmentClick(upAppointments?.appointmentId)">
                                                    {{upAppointments?.patientName}}</p>
                                                <!-- <p class="mb-0">{{upAppointments?.bookedBy}}</p> -->
                                                <p *ngIf="upAppointments?.bookedBy" class="mb-0"
                                                    style="color: #267399;font-size: 14px;">
                                                    ({{upAppointments?.bookedBy}})</p>
                                                <p class="mb-0 time-detail">
                                                    {{formatDateTimeToUTC(upAppointments?.slotStartTime) | date: 'h:mm
                                                    a':
                                                    userTimezone?.offset}}
                                                    {{userTimezone?.abbr}}</p>
                                            </div>
                                            <div class="pl-3 text-right icon-sec d-flex align-items-center">
                                                <ng-template [ngIf]="upAppointments?.isBookingResechdule">
                                                    <span class="material-icons pr-1"
                                                        appDebounceClick [debounceTime]="400" (debounceClick)="rescheduleClick(upAppointments?.appointmentId, upAppointments?.doctorId)">
                                                        update
                                                    </span>
                                                    <span class="material-icons pr-1"
                                                        appDebounceClick [debounceTime]="400" (debounceClick)="cancelClick(upAppointments?.appointmentId)">
                                                        highlight_off
                                                    </span>
                                                </ng-template>
                                            </div>
                                        </ng-container>
                                    </li>
                                    <!-- <li>
                                                    <div class="date-sec text-center pr-2">
                                                        15 <br />Nov
                                                    </div>
                                                    <div class="detail-sec pl-2">
                                                        <p class="mb-0">John Clark</p>
                                                        <p class="mb-0 time-detail">10:12 am</p>
                                                    </div>
                                                    <div class="pl-3 text-right icon-sec d-flex align-items-center">
                                                        <span class="material-icons pr-1">
                                                            update
                                                        </span>
                                                        <span class="material-icons pr-1">
                                                            highlight_off
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="date-sec text-center pr-2">
                                                        15 <br />Nov
                                                    </div>
                                                    <div class="detail-sec pl-2">
                                                        <p class="mb-0">Joseph Jones</p>
                                                        <p class="mb-0 time-detail">10:12 am</p>
                                                    </div>
                                                    <div class="pl-3 text-right icon-sec d-flex align-items-center">
                                                        <span class="material-icons pr-1">
                                                            update
                                                        </span>
                                                        <span class="material-icons pr-1">
                                                            highlight_off
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="date-sec text-center pr-2">
                                                        15 <br />Nov
                                                    </div>
                                                    <div class="detail-sec pl-2">
                                                        <p class="mb-0">John Clark</p>
                                                        <p class="mb-0 time-detail">10:12 am</p>
                                                    </div>
                                                    <div class="pl-3 text-right icon-sec d-flex align-items-center">
                                                        <span class="material-icons pr-1">
                                                            update
                                                        </span>
                                                        <span class="material-icons pr-1">
                                                            highlight_off
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="date-sec text-center pr-2">
                                                        15 <br />Nov
                                                    </div>
                                                    <div class="detail-sec pl-2">
                                                        <p class="mb-0">Joseph Jones</p>
                                                        <p class="mb-0 time-detail">10:12 am</p>
                                                    </div>
                                                    <div class="pl-3 text-right icon-sec d-flex align-items-center">
                                                        <span class="material-icons pr-1">
                                                            update
                                                        </span>
                                                        <span class="material-icons pr-1">
                                                            highlight_off
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="date-sec text-center pr-2">
                                                        15 <br />Nov
                                                    </div>
                                                    <div class="detail-sec pl-2">
                                                        <p class="mb-0">Joseph Jones</p>
                                                        <p class="mb-0 time-detail">10:12 am</p>
                                                    </div>
                                                    <div class="pl-3 text-right icon-sec d-flex align-items-center">
                                                        <span class="material-icons pr-1">
                                                            update
                                                        </span>
                                                        <span class="material-icons pr-1">
                                                            highlight_off
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="date-sec text-center pr-2">
                                                        15 <br />Nov
                                                    </div>
                                                    <div class="detail-sec pl-2">
                                                        <p class="mb-0">Joseph Jones</p>
                                                        <p class="mb-0 time-detail">10:12 am</p>
                                                    </div>
                                                    <div class="pl-3 text-right icon-sec d-flex align-items-center">
                                                        <span class="material-icons pr-1">
                                                            update
                                                        </span>
                                                        <span class="material-icons pr-1">
                                                            highlight_off
                                                        </span>
                                                    </div>
                                                </li> -->
                                </ul>
                            </mat-tab>
                            <mat-tab label="Missed Appointments">
                                <ul #missedAppointmentUl class="px-3 mb-0" (scroll)="scrollHandler($event,'missed')">
                                    <li *ngFor="let missAppointments of missedAppointments; let i=index">
                                        <ng-container>
                                            <div class="date-sec text-center pr-2">
                                                <!-- 15 <br />Nov -->
                                                {{formatDateTimeToUTC(missAppointments?.slotStartTime) | date: 'dd' :
                                                userTimezone?.offset}}<br />
                                                {{formatDateTimeToUTC(missAppointments?.slotStartTime) | date: 'MMM':
                                                userTimezone?.offset}}
                                            </div>
                                            <div class="detail-sec pl-2">
                                                <p class="mb-0" class="cursorPointer mb-0"
                                                    appDebounceClick [debounceTime]="400" (debounceClick)="nextAppointmentClick(missAppointments?.appointmentId)">
                                                    {{missAppointments?.patientName}}</p>
                                                <!-- <p class="mb-0">{{missAppointments?.bookedBy}}</p> -->
                                                <p *ngIf="missAppointments?.bookedBy" class="mb-0"
                                                    style="color: #267399;font-size: 14px;">
                                                    ({{missAppointments?.bookedBy}})</p>
                                                <p class="mb-0 time-detail">
                                                    {{formatDateTimeToUTC(missAppointments?.slotStartTime) | date: 'h:mm
                                                    a':
                                                    userTimezone?.offset}}
                                                    {{userTimezone?.abbr}}</p>
                                            </div>
                                            <div class="pl-3 text-right icon-sec d-flex align-items-center">
                                                <ng-template [ngIf]="missAppointments?.isBookingResechdule">
                                                    <!-- <span class="material-icons pr-1"
                                                        appDebounceClick [debounceTime]="400" (debounceClick)="rescheduleClick(missAppointments?.appointmentId, missAppointments?.doctorId)">
                                                        update
                                                    </span> -->
                                                    <button class="d-flex align-items-center round-outline-cls" appDebounceClick [debounceTime]="400" (debounceClick)="rescheduleClick(missAppointments?.appointmentId, missAppointments?.doctorId)">
                                                        <span class="material-icons pr-1">
                                                            update
                                                        </span>
                                                        Reschedule
                                                    </button>
                                                </ng-template>
                                            </div>
                                        </ng-container>
                                    </li>
                                </ul>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-6 col-xl-4 mb-4 pl-lg-3 pr-xl-3 px-sm-0">
                    <div class="active-cases-sec rounded px-sm-0">
                        <mat-tab-group>
                            <mat-tab label="Active Cases">
                                <ul #activeUl class="px-3 mb-0 mt-3" (scroll)="scrollHandler($event,'active')">
                                    <li *ngFor="let activeCase of activeCases">
                                        <div class="date-sec text-center pr-2">
                                            <ng-template [ngIf]="!activeCase?.appointmentDate" [ngIfElse]="updateButtonShow">
                                                <span class="mr-1 material-icons remove-pointer" title="Book Later" appDebounceClick
                                                    [debounceTime]="400">
                                                    event_available
                                                </span>
                                            </ng-template>
                                            <ng-template #updateButtonShow>
                                                {{formatDateTimeToUTC(activeCase?.appointmentDate) | date: 'dd' :
                                            userTimezone?.offset}}<br />
                                                {{formatDateTimeToUTC(activeCase?.appointmentDate) | date: 'MMM' :
                                            userTimezone?.offset}}
                                            </ng-template>
                                        </div>
                                        <div class="detail-sec pl-2">
                                            <p class="mb-0 cp"
                                                appDebounceClick [debounceTime]="400" (debounceClick)="nextAppointmentClick(activeCase?.appointmentId)">
                                                {{activeCase.patientName}}</p>
                                            <p class="mb-0 bookedBy">
                                                <span *ngIf="activeCase.bookedBy">({{activeCase.bookedBy}})</span>
                                                <span class="fs-n-cls" *ngIf="activeCase?.patientId"> ID
                                                    {{activeCase?.patientId}}</span>
                                            </p>
                                        </div>
                                        <div class="pl-3 text-right icon-sec d-flex align-items-center">
                                            <!-- <span class="material-icons pr-1"
                                                appDebounceClick [debounceTime]="400" (debounceClick)="createReport(activeCase.consultId)" *ngIf="activeCase?.isPayment">
                                                edit
                                            </span> -->
                                            <!-- <span class="material-icons pr-1"
                                                appDebounceClick [debounceTime]="400" (debounceClick)="deleteReport(activeCase.consultId)">
                                                delete_outline
                                            </span> -->
                                        </div>
                                    </li>
                                </ul>
                            </mat-tab>
                            <mat-tab label="Archived Cases">
                                <ul #archiveUl class="px-3 mb-0 mt-3" (scroll)="scrollHandler($event,'archive')">
                                    <li *ngFor="let archiveCase of archiveCases">
                                        <div class="date-sec text-center pr-2">
                                            <ng-template [ngIf]="!archiveCase?.appointmentDate" [ngIfElse]="updateArchiveButtonShow">
                                                <span class="mr-1 material-icons remove-pointer" title="Book Later" appDebounceClick
                                                    [debounceTime]="400">
                                                    event_available
                                                </span>
                                            </ng-template>
                                            <ng-template #updateArchiveButtonShow>
                                                    {{formatDateTimeToUTC(archiveCase?.appointmentDate) | date: 'dd' :
                                            userTimezone?.offset}}<br />
                                            {{formatDateTimeToUTC(archiveCase?.appointmentDate) | date: 'MMM' :
                                            userTimezone?.offset}}
                                            </ng-template>
                                        </div>
                                        <div class="detail-sec pl-2">
                                            <p class="mb-0 cp"
                                                appDebounceClick [debounceTime]="400" (debounceClick)="nextAppointmentClick(archiveCase?.appointmentId)">
                                                {{archiveCase.patientName}}</p>
                                        </div>
                                        <div class="pl-3 text-right icon-sec d-flex align-items-center">
                                            <span class="material-icons pr-1"
                                                appDebounceClick [debounceTime]="400" (debounceClick)="downloadReport(archiveCase.consultId)">
                                                download
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </mat-tab>
                        </mat-tab-group>
                        <button class="align-items-center compose-tabs-btn justify-content-center d-none d-sm-flex"
                            title="Invite" appDebounceClick [debounceTime]="400" (debounceClick)="requestDoc()">
                            <span class="material-icons ml-1">
                                person_add_alt_1
                            </span>
                            <span class="text-invite">Invite</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-12 col-xl-4 px-sm-0 rounded">
                    <div class="messaged-sec">
                        <mat-tab-group (selectedTabChange)="onTabChange($event)">
                            <mat-tab label="Messages">
                                <ul #messagesUl class="px-3 mb-0 mt-3 tabs-ul" (scroll)="scrollHandler($event,'messages')">
                                    <li *ngFor="let userEmail of userEmails; let i=index">
                                        <div class="detail-sec pl-2">
                                            <div class="row mb-3">
                                                <div class="col-6">
                                                    <h4 class="mb-0">{{userEmail?.firstName}} {{userEmail?.lastName}}
                                                    </h4>
                                                </div>
                                                <div class="col-6 d-flex justify-content-end">
                                                    <p class="message-date">
                                                        {{formatDateTimeToUTC(userEmail?.mailDateTime) | date: 'MMM dd,
                                                        yyyy hh:mm a': userTimezone?.offset}}
                                                        {{userTimezone?.abbr}} </p>
                                                </div>
                                            </div>
                                            <p class="text-justify mb-0" [innerHTML]="userEmail?.messagesText">
                                            </p>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button class="d-flex align-items-center ml-2 mt-3 justify-content-center"
                                                appDebounceClick [debounceTime]="400" (debounceClick)="setReplyCurrentMailId(userEmail?.emailId,userEmail?.subject)">
                                                <span class="material-icons pr-1">
                                                    reply
                                                </span>
                                                Reply
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </mat-tab>
                            <mat-tab label="Notes">
                                <ul #notesUl class="px-3 mb-0 mt-3" (scroll)="scrollHandler($event,'notes')">
                                    <li *ngFor="let note of notes; let i=index" class="notes-list">
                                        <div class="detail-sec pl-2">
                                            <div class="row mb-3">
                                                <div class="col-6">
                                                    <!-- <h4 class="mb-0">{{userEmail?.firstName}} {{userEmail?.lastName}}</h4> -->
                                                </div>
                                                <div class="col-6 d-flex justify-content-end">
                                                    <p class="message-date">
                                                        {{formatDateTimeToUTC(note?.noteDate) | date: 'MMM dd, yyyy
                                                        hh:mm a': userTimezone?.offset}}
                                                        {{userTimezone?.abbr}} </p>
                                                </div>
                                            </div>
                                            <span class="table-border">
                                                <p class="text-justify notes-sub-list" [innerHTML]="note?.notes">
                                                </p>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </mat-tab>
                        </mat-tab-group>
                        <button *ngIf="selectedTab == 'Messages'"
                            class="align-items-center compose-tabs-btn justify-content-center d-none d-sm-flex"
                            appDebounceClick [debounceTime]="400" (debounceClick)="composeMessage()" title="Compose">
                            <span class="material-icons">
                                add
                            </span>
                            <span class="text-note">Compose</span>
                        </button>
                        <button *ngIf="selectedTab == 'Notes'"
                            class="align-items-center compose-tabs-btn justify-content-center d-none d-sm-flex"
                            appDebounceClick [debounceTime]="400" (debounceClick)="addNote()" title="Notes">
                            <span class="material-icons">
                                add
                            </span>
                            <span class="text-note">Note</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>