<div class="container-fluid px-0 px-md-3 container-wrapper">
    <div class="inner-content-wrapper mt-0 pb-4 pr-4 pb-4 pl-4">
        <span class="material-icons home-ico" appDebounceClick [debounceTime]="400" (debounceClick)="homeClick()">
            home
        </span>
        <div class="row content-row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                <div class="profile-detail-wrapper rounded col-12 py-3">
                    <div class="py-2 d-block d-md-flex align-items-center text-center text-md-left">
                         <img [src]="doctorProfileUrl ? doctorProfileUrl : 'assets/images/user-default.svg'" />
                        <span class="ml-0 ml-md-4 doc-profile-detail">
                            <h2 class="mb-1 mt-2 mt-md-0"> {{doctor?.title}} {{doctor?.name}}&nbsp;{{doctor?.surname}} </h2>                         
                            <p class="mb-1"> {{doctor?.oncologySpecialty}} </p>
                            <p class="mb-1"> {{doctor?.currentAffiliation}} </p>
                        </span>
                    </div>
                    <div class="col-12 px-0 my-5 text-center text-md-left about-wrapper">
                        <h3 class="mb-2"> About </h3>
                        <p>{{doctor?.professionalBio}}</p>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 qualifications-sec">
                            <h3> Qualifications </h3>
                            <ul class="pl-0">
                                <li class="d-block mb-3">
                                    <p>
                                        <strong> Hospital Affiliations:</strong>
                                        {{doctor?.hospitalAffiliation}}
                                    </p>
                                </li>
                                <li class="d-block mb-3">
                                    <p><strong> Residency1:</strong> {{doctor?.residency1}} </p>
                                    <p><strong> Residency2:</strong> {{doctor?.residency2}} </p>
                                </li>
                                <li class="d-block mb-3">
                                    <p><strong> Certifications:</strong> {{doctor?.certificate}}</p>
                                </li>
                                <li class="d-block mb-3">
                                    <p><strong> Gender:</strong> {{doctor?.gender}} </p>
                                </li>
                                <li class="d-block mb-3">
                                    <p><strong> Experience / Training:</strong> {{doctor?.experienceOrTraining}} </p>
                                </li>
                                <li class="d-block mb-3">
                                    <p><strong> Fellowship:</strong> {{doctor?.fellowship}} </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 specialties-sec-wrapper">
                            <h3> Specialties </h3>
                            <ul class="pl-0 doc-sub-specialties">
                                <li class="d-flex align-items-center mb-3">
                                    <span class="material-icons">
                                        arrow_forward
                                    </span>
                                    <p class="mb-0 ml-2"> {{doctor?.oncologySpecialty}} </p>
                                </li>   
                            </ul>
                            <h3> Sub Specialties </h3>
                            <ul class="pl-0 doc-sub-specialties">
                                <li *ngFor="let subSpecialty of subSpecialtiesArray" class="d-flex align-items-center mb-3">
                                    <span class="material-icons">
                                        arrow_forward
                                    </span>
                                    <p class="mb-0 ml-2"> {{subSpecialty}} </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 mt-4 col-lg-4 mt-lg-0">
                <div class="appointment-sec rounded pt-3 col-12">
                    <h3> Availability </h3>
                    <ul class="pl-0">
                        <ng-container *ngFor="let availabilitySlot of availabilitySlots; let i=index">
                            <li *ngIf="availabilitySlot.isBooked == 0" class="row align-items-center py-3">
                                <div class="col-md-9 col-12 col-lg-8 col-sm-8 col-xl-9 col-md-7">
                                    <span>
                                        <p class="mb-0"> {{formatDateTimeToUTC(availabilitySlot?.slotStartTime) | date: 'dd MMM, yyyy' : userTimezone?.offset}}&nbsp;&nbsp; {{formatDateTimeToUTC(availabilitySlot?.slotStartTime) | date: 'h:mm a': userTimezone?.offset}} to {{formatDateTimeToUTC(availabilitySlot?.slotEndTime) | date: 'h:mm a': userTimezone?.offset}} {{userTimezone?.abbr}}</p>
                                    </span>
                                </div>
                                <div
                                    class="col-12 col-sm-4 col-xl-3 col-lg-4 col-md-3 d-flex align-items-center justify-content-end">
                                    <button *ngIf="availabilitySlot.isBooked == 0" class="d-flex align-items-center justify-content-center mt-3 mt-sm-0" appDebounceClick [debounceTime]="400" (debounceClick)="showAvailabilityBookSlotModel(availabilitySlot?.id, availabilitySlot?.userId);">
                                        <span class="mr-1 material-icons">
                                            event_available
                                        </span>
                                        Book
                                    </button>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>