@import '../../../../variables.scss';
.table-wrapper {
    tbody {
        tr {
            &:hover {
                background-color: gray;
            }
        }
    }    
}

.left-bar {
    ul {
        li {
            height: 35px;
            margin: 10px 0px;
            &:hover {
                background-color: $light-gray;
                cursor: pointer;
                border-radius: 30px;
                height: 35px;
            }
        }
    }
    .compose-button {
        background-color: $primary-color;
        color: $white;
        border: 0px;
        box-shadow: -2px 6px 21px -10px rgba(0, 0, 0, 0.63);
        border-radius: 30px;
        cursor: pointer;
        padding: 8px 18px;
        width: 100%;

        &:hover {
            background-color: #1e6283;
        }

        .flaticon-plus {
            font-size: 14px;
            vertical-align: bottom;
            margin-top: -1px;
        }
        
    }
    .inbox-btn {
        background-color: transparent;
        color: $dark-gray;
        border: 0px;
        margin: 5px 0px;
        padding: 0px 10px;
        width: 100%;

        span {
            font-size: 20px;
        }
    }
}
.mailsubject {
    p {
        display: inline;
        margin-right: 5px;
        // font-weight: 400;
    }
}
.selectAll {
    margin-right: 10px;
}
.inbDelete {

    span.material-icons {
        font-size: 20px;
        color: $primary-color;
        margin: 0px 3px;
    }
}
.submit-btn {
    border-radius: 31px;
    background-color: $primary-color;
    border-color:$primary-color;
    font-family: $font-roboto;
    color: $white;
    border: 0px;
    margin-left: 10px;
    letter-spacing: 0.85px;
    padding: 7px 14px;
    cursor: pointer;


    &:hover {
        background-color: #1e6283;
    }
}   


// .home-ico {
//         color: $white;
// }
.inner-content-wrapper {
    min-height: 99%; 
        
    .topfields-wrapper {
        .submit-button {
            border-radius: 31px;
            background-color: $primary-color;
            border-color:$primary-color;
            font-family: $font-roboto;
            padding: 0px 16px 0px 15px;
            width: 100%;
        
            &:focus {
                box-shadow: none;
            }            
        }    
        .add-btn {
                @media screen and (min-width: 1500px) and (max-width: 1600px) {
                        flex: 0 0 15%;
                        max-width: 15%;
                }
                @media screen and (min-width: 1601px) {
                        flex: 0 0 15%;
                        max-width: 15%;
                }
            }
    }
}

  

.side-nav {
  padding-right: 1.25rem;
  padding-bottom: 4rem;
  margin-top: 65px;

        ul {
                li {
                   list-style: none; 
                   
                   a {
                           &:hover {
                                   cursor: pointer;
                                   text-decoration: none;
                           }
                   }
                }
        }
}

::ng-deep .mat-sort-header-sorted .mat-sort-header-arrow {
    opacity: 1 !important;
}

.cursorPointer{
    cursor: pointer;
}

.selectedLeftBar{
    background-color: $light-gray !important;
    cursor: pointer;
    border-radius: 30px;
    height: 35px;
    width: 100%;    
}