<div class="container-fluid pl-sm-0 h-100">
    <div class="row h-100 justify-content-center login-outer">
        <div class="col-7 leftBG d-none align-items-center justify-content-center d-lg-flex">
            <img src="assets/images/emro-logo-white.svg" class="logoImage" />
            <img src="assets/images/back.png" class="w-100 h-100" />
        </div>
        <div class="col-12 col-lg-5">
            <div class="d-flex align-items-center justify-content-end mt-2">
                <ul class="top-menus">
                    <li>
                        <a href="javascript:void(0)"> ABOUT US </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"> FAQ </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"> CONTACT US </a>
                    </li>
                    <li>
                        <a [hidden]="IsImpersonating" href="javascript:void(0)" appDebounceClick [debounceTime]="400"
                            (debounceClick)="logoutClick()"> LOGOUT </a>
                        <a [hidden]="!IsImpersonating" href="javascript:void(0)" appDebounceClick [debounceTime]="400"
                            (debounceClick)="stopImpersonation()"> STOP IMPERSONATION </a>
                    </li>
                </ul>
            </div>
            <div class="d-flex justify-content-center mt-4 mb-5 mb-sm-4">
                <img src="assets/images/emro-logo-blue.svg" class="mobile-logo d-block d-sm-none" />
            </div>
            <div class="d-flex align-items-center form-wrapper col-12 col-sm-8 col-md-8 col-lg-10 mx-auto">
                <div class="col-12 col-sm-12 col-xl-10 text-left form-search-group field-form">
                    <div class="d-flex justify-content-center mt-4 mb-5 mb-sm-4 my-lg-0">
                        <img src="assets/images/emro-logo-blue.svg" class="mobile-logo d-none d-sm-block d-lg-none" />
                    </div>
                    <ng-template [ngIf]="roleName && roleName!='PATIENT'" [ngIfElse]="rolePatient">
                        <h3 class="my-4 text-center text-lg-left"> Find a Consultant </h3>
                    </ng-template>
                    <ng-template #rolePatient>
                        <h3 class="mb-5 mt-5 text-center text-lg-left"> We are here to help you <br /> start by finding
                            a
                            Consultant </h3>
                    </ng-template>
                    <mat-form-field appearance="fill" class="dropdown-field">
                        <mat-label class="label-field">Specialty</mat-label>
                        <mat-select [(ngModel)]="selectedSpecialtyMdl" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let specialty of specialties" [value]="specialty.specialtyName">
                                {{specialty.specialtyName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="pb-3">
                        <h4 class="pb-2"> Narrow your search (Optional) </h4>
                        <mat-radio-group [(ngModel)]="selectedSearchCriteriaMdl" aria-label="Select an option"
                            [ngModelOptions]="{standalone: true}"
                            (change)="validatorPress($event, 'selectedSearchCriteria')">
                            <mat-radio-button value="consultant" class="pr-3">Consultant Name</mat-radio-button>
                            <mat-radio-button value="hospital">Hospital Name</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <mat-form-field class="fields-mat">
                        <input type="text" matInput [(ngModel)]="consultantOrHospitalNameMdl"
                            [ngModelOptions]="{standalone: true}"
                            (keypress)="validatorPress($event, 'selectedSearchCriteria')"
                            (input)="validatorPress($event, 'selectedSearchCriteria')" />
                        <mat-placeholder class="placeholder">Enter Name</mat-placeholder>
                    </mat-form-field>
                    <div *ngIf="eR && eR.key == 'selectedSearchCriteria'" class="err-msg-cls">
                        {{eR.message}}
                    </div>
                    <button appDebounceClick [debounceTime]="400" (debounceClick)="searchClick()" type="submit"
                        class="btn btn-primary submit-button w-100 mt-5">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>