<div class="row mx-0 align-items-center footer-wrapper py-2">
    <div class="col-12 col-md-6 text-white text-center text-md-left mb-md-3 mb-1 mt-2 mt-md-0 mb-md-0">
        <p class="mb-0"> Copyright © ETeleHealth Doctors Inc. 2020 </p>
    </div>
    <div class="col-12 col-md-6 footer-menu text-center text-md-right mb-md-0 px-1 printHide">
        <ul class="pl-0 mb-0">
            <li>
                <a href="javascript:void(0)"> Support </a>
            </li>
            <li>
                <a href="javascript:void(0)"> About Us </a>
            </li>
            <li>
                <a href="javascript:void(0)"> FAQ </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 1-858-580-8000 </a>
            </li>
        </ul>
    </div>
</div>