<div class="container-fluid px-0 px-md-3 container-wrapper">
    <div class="inner-content-wrapper mt-0 pb-4 pr-4 pb-4 pl-4">
        <span class="material-icons home-ico" appDebounceClick [debounceTime]="400" (debounceClick)="homeClick()">
            home
        </span>
        <div class="row mx-0 payment-details">
            <div class="col-12 sec-1 px-0 pb-4">
                <mat-tab-group #tabs>
                    <mat-tab label="Patient info">
                        <div class="p-4 m-h-75">
                            <h3 class="mt-3 mb-3"> Let's start with the basic information </h3>
                            <small class="colorRed">{{patientNotRegisteredMsg}}</small>
                            <div class="col-12 col-lg-10 col-xl-8 px-0">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-8 col-xl-10 px-0">
                                        <div class="row mx-0 mb-sm-3">
                                            <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                                <!-- <mat-form-field class="fields-mat">
                                                    <input matInput type="text" [(ngModel)]="intakeForm.FirstName"
                                                    [ngModelOptions]="{standalone: true}" (keypress)="validatorPress($event, 'firstName')"
                                                    (input)="validatorPress($event, 'firstName')" maxlength="40"/>
                                                    <mat-placeholder class="placeholder">First Name *</mat-placeholder>
                                                </mat-form-field>
                                                <div *ngIf="eR && eR.key == 'firstName'" class="err-msg-cls">
                                                    {{eR.message}}
                                                </div> -->
                                                <mat-form-field class="fields-mat">
                                                    <input matInput type="text" [(ngModel)]="intakeForm.FirstName"
                                                        [ngModelOptions]="{standalone: true}"
                                                        (keypress)="validatorPress($event, 'firstName')" maxlength="40" />
                                                        <!-- (input)="patientNameInput($event.target.value, 'firstName')" -->
                                                        <!-- [matAutocomplete]="autoCompleteFirstName" -->
                                                       <!-- (focusout)="checkPatientDetails()"  -->
                                                    <mat-placeholder class="placeholder">First Name *</mat-placeholder>
                                                    <!-- <mat-autocomplete #autoCompleteFirstName="matAutocomplete"
                                                        (optionSelected)="patientSelected($event.option.value)"
                                                        [displayWith]="displayPatientFirstName">
                                                        <mat-option *ngFor="let patient of patientList"
                                                            [value]="patient">
                                                            {{patient.doctorFirstName}} {{patient.doctorLastName}}
                                                        </mat-option>
                                                    </mat-autocomplete> -->
                                                </mat-form-field>
                                                <div *ngIf="eR && eR.key == 'firstName'" class="err-msg-cls">
                                                    {{eR.message}}
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                                <mat-form-field class="fields-mat">
                                                    <input matInput type="text" [(ngModel)]="intakeForm.LastName"
                                                        [ngModelOptions]="{standalone: true}"
                                                        (keypress)="validatorPress($event, 'lastName')" maxlength="40"/>
                                                    <mat-placeholder class="placeholder">Last Name *</mat-placeholder>
                                                    <!-- <mat-autocomplete #autoCompleteLastName="matAutocomplete"
                                                        (optionSelected)="patientSelected($event.option.value)"
                                                        [displayWith]="displayPatientLastName">
                                                        <mat-option *ngFor="let patient of patientList"
                                                            [value]="patient">
                                                            {{patient.doctorFirstName}} {{patient.doctorLastName}}
                                                        </mat-option>
                                                    </mat-autocomplete> -->
                                                </mat-form-field>
                                                <div *ngIf="eR && eR.key == 'lastName'" class="err-msg-cls">
                                                    {{eR.message}}
                                                </div>
                                            </div>
                                            <!-- <div class="col-12 col-sm-4">
                                                <mat-form-field class="fields-mat">
                                                    <input matInput [(ngModel)]="intakeForm.EmailID"
                                                        [disabled]="patientDetails"
                                                        [ngModelOptions]="{standalone: true}"
                                                        (keypress)="validatorPress($event, 'email')"
                                                        (input)="validatorPress($event, 'email')" maxlength="50" />
                                                    <mat-placeholder class="placeholder">Email *</mat-placeholder>
                                                </mat-form-field>
                                                <div *ngIf="eR && eR.key == 'email'" class="err-msg-cls">
                                                    {{eR.message}}
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="row mx-0 mb-sm-3">
                                            <!-- <div class="col-12 col-sm-4">
                                                <mat-form-field class="fields-mat">
                                                    <input matInput type="text" [(ngModel)]="intakeForm.TelePhone"
                                                        [disabled]="patientDetails"
                                                        [ngModelOptions]="{standalone: true}" mask="(000) 000-0000"
                                                        [specialCharacters]="['(', ' ', '-', ')']" inputDigitsOnly />
                                                    <mat-placeholder class="placeholder">Phone</mat-placeholder>
                                                </mat-form-field>
                                            </div> -->
                                            <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                                <mat-form-field appearance="fill" class="dropdown-field">
                                                    <mat-label class="label-field">Gender</mat-label>
                                                    <mat-select [(ngModel)]="intakeForm.Gender"
                                                        [disabled]="patientDetails">
                                                        <mat-option *ngFor="let gender of genders"
                                                            [value]="gender.value">
                                                            {{gender.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                                <mat-form-field appearance="fill" class="date-picker-field">
                                                    <mat-label>Date of Birth</mat-label>
                                                    <div class="d-flex align-items-center DOB-field">
                                                        <input matInput #dob [matDatepicker]="dobpicker"
                                                            [(ngModel)]="intakeForm.DateOfBirth"
                                                            [disabled]="patientDetails"
                                                            [ngModelOptions]="{standalone: true}"
                                                            (focus)="dobpicker.open()" class="mat-datepicker-input pb-0"
                                                            [max]="maxDate">
                                                        <mat-icon matDatepickerToggleIcon
                                                            *ngIf="intakeForm.DateOfBirth && intakeForm.DateOfBirth!='Invalid Date'"
                                                            appDebounceClick [debounceTime]="400"
                                                            (debounceClick)="clearDOB($event)">
                                                            <span class="flaticon-cancel"></span>
                                                        </mat-icon>
                                                    </div>
                                                    <mat-datepicker-toggle matSuffix [for]="dobpicker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #dobpicker (closed)="dob.blur()"></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mx-0 mb-sm-3">
                                            <div class="col-12 mb-3 mb-sm-0">
                                                <mat-form-field class="fields-mat">
                                                    <input matInput type="search" [(ngModel)]="intakeForm.Address"
                                                        (focus)="getPlaceAutocomplete()" [disabled]="patientDetails"
                                                        [ngModelOptions]="{standalone: true}" id="autocomplete"
                                                        #addressElement />
                                                    <mat-placeholder class="placeholder">Address </mat-placeholder>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mx-0 mb-sm-3">
                                            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                                                <mat-form-field class="fields-mat">
                                                    <input matInput type="text" [(ngModel)]="intakeForm.Country"
                                                        [disabled]="patientDetails"
                                                        [ngModelOptions]="{standalone: true}" />
                                                    <mat-placeholder class="placeholder">Country</mat-placeholder>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                                                <mat-form-field class="fields-mat">
                                                    <input matInput type="text" [(ngModel)]="intakeForm.State"
                                                        [disabled]="patientDetails"
                                                        [ngModelOptions]="{standalone: true}" />
                                                    <mat-placeholder class="placeholder">State / Province
                                                    </mat-placeholder>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                                                <mat-form-field class="fields-mat">
                                                    <input matInput type="text" [(ngModel)]="intakeForm.City"
                                                        [disabled]="patientDetails"
                                                        [ngModelOptions]="{standalone: true}" />
                                                    <mat-placeholder class="placeholder">City</mat-placeholder>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mx-0 mb-sm-3">
                                            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                                                <mat-form-field class="fields-mat">
                                                    <input matInput type="text" [(ngModel)]="intakeForm.PostalCode"
                                                        [disabled]="patientDetails"
                                                        [ngModelOptions]="{standalone: true}" />
                                                    <mat-placeholder class="placeholder"> Postal Code </mat-placeholder>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-12 col-lg-8 mb-sm-12 mb-3 mb-sm-0">
                                                <mat-form-field class="fields-mat">
                                                    <input matInput type="text"
                                                        [(ngModel)]="intakeForm.ReasonForConsult"
                                                        [ngModelOptions]="{standalone: true}" />
                                                    <mat-placeholder class="placeholder">Reason for Consult
                                                    </mat-placeholder>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex align-items-center justify-content-end">
                                            <button appDebounceClick [debounceTime]="400"
                                                (debounceClick)='moveToSelectedTab("Patient Documents")'
                                                class="next-btn d-flex align-items-center justify-content-center ml-sm-3">
                                                Next
                                                <span class="material-icons">
                                                    keyboard_arrow_right
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Patient Documents" class="document-outer-tab">
                        <div class="row mx-0">
                            <div class="col-12 col-sm-12 col-lg-8 col-xl-8 px-0">
                                <div class="m-h-75">
                                    <div class="col-12 px-3 px-sm-4">
                                        <div class="tabset p-1 pt-3 pt-sm-5 text-center text-sm-left">
                                            <div class="tab-panels p-4">
                                                <div class="row">
                                                    <div *ngFor="let reportDoc of intakeForm?.OtherDocumentPaths"
                                                        class="col-12 col-sm-4 col-lg-3 col-md-3 col-xl-2 text-center">
                                                        <span class="text-center doc-file">
                                                            <img [src]="reportDoc.preview" class="img-fluid" />
                                                            <button type="button" mat-button class="close"
                                                                appDebounceClick [debounceTime]="400"
                                                                (debounceClick)="removeFile(reportDoc.id)">X</button>
                                                            <p> {{reportDoc.name}}
                                                            </p>
                                                        </span>
                                                    </div>
                                                    <span class="image-upload d-flex align-items-center">
                                                        <label for="file-input-report">
                                                            <button appDebounceClick [debounceTime]="400"
                                                                (debounceClick)="selectFile()"
                                                                class="next-btn d-flex align-items-center justify-content-center ml-3">
                                                                Add Document
                                                                <!-- <span class="material-icons">
                                                                                keyboard_arrow_right
                                                                            </span> -->
                                                            </button>
                                                            <!-- <span class="material-icons add-icon ml-0 ml-sm-3" appDebounceClick [debounceTime]="400" (debounceClick)="selectFile()">
                                                                            add
                                                                        </span> -->
                                                        </label>
                                                        <!-- <input type="file" (change)="selectFile($event, 'report')" id="file-input-report"
                                                                        accept=".pdf, .doc, .docx, image/*, .xls, .xlsx"/> -->
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- Tab 1
                                            <input type="radio" name="tabset" id="tab1" aria-controls="reports" checked>
                                            <label for="tab1" [ngClass]="activeDocumentsChildTab=='report' ? 'tabActive' : ''" (click)="documentsChildTabClick('report')">Reports</label>
                                            Tab 2
                                            <input type="radio" name="tabset" id="tab2" aria-controls="radiation">
                                            <label for="tab2"  [ngClass]="activeDocumentsChildTab=='radiation' ? 'tabActive' : ''" (click)="documentsChildTabClick('radiation')">Radiation</label>
                                            Tab 3
                                            <input type="radio" name="tabset" id="tab3" aria-controls="others">
                                            <label for="tab3" [ngClass]="activeDocumentsChildTab=='others' ? 'tabActive' : ''" (click)="documentsChildTabClick('others')">Others</label> -->

                                            <!-- <div class="tab-panels p-4">
                                                <section id="reports" class="tab-panel">
                                                    <div class="row">
                                                        <div *ngFor="let reportDoc of intakeForm?.ReportDocumentPaths" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-center">
                                                            <span class="text-center doc-file">
                                                                <img [src]="reportDoc.preview" />
                                                                <button type="button" mat-button class="close" appDebounceClick [debounceTime]="400" (debounceClick)="removeFile(reportDoc.id, reportDoc.type)">X</button>
                                                                <p> {{reportDoc.name}}
                                                                </p>
                                                            </span>
                                                        </div>
                                                        <span class="image-upload d-flex align-items-center">
                                                            <label for="file-input-report">
                                                                <span class="material-icons add-icon ml-0 ml-sm-3">
                                                                    add
                                                                </span>
                                                            </label>
                                                            <input type="file" (change)="selectFile($event, 'report')" id="file-input-report"
                                                                accept=".pdf, .doc, .docx, image/*, .xls, .xlsx"/>
                                                        </span>
                                                    </div>   
                                                </section>
                                                <section id="radiation" class="tab-panel">
                                                    <div class="row">
                                                        <div *ngFor="let radiationDoc of intakeForm?.RadiationDocumentPaths" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-center">
                                                            <span class="text-center doc-file">
                                                                <img [src]="radiationDoc.preview" />
                                                                <button type="button" mat-button class="close" appDebounceClick [debounceTime]="400" (debounceClick)="removeFile(radiationDoc.id, radiationDoc.type)">X</button>
                                                                <p> {{radiationDoc.name}}
                                                                </p>
                                                            </span>
                                                        </div>
                                                        <span class="image-upload d-flex align-items-center">
                                                            <label for="file-input-radiation">
                                                                <span class="material-icons add-icon ml-0 ml-sm-3">
                                                                    add
                                                                </span>
                                                            </label>
                                                            <input type="file" (change)="selectFile($event, 'radiation')" id="file-input-radiation"
                                                                accept=".pdf, .doc, .docx, image/*, .xlsx, .xls"/>
                                                        </span>
                                                    </div>                                               
                                                </section>
                                                <section id="others" class="tab-panel">
                                                    <div class="row">
                                                        <div *ngFor="let otherDoc of intakeForm?.OtherDocumentPaths" class="col-12 col-sm-6 col-lg-4 col-xl-3 text-center">
                                                            <span class="text-center">
                                                                <img [src]="otherDoc.preview" />
                                                                <button type="button" mat-button class="close" appDebounceClick [debounceTime]="400" (debounceClick)="removeFile(otherDoc.id, otherDoc.type)">X</button>
                                                                <p> {{otherDoc.name}}
                                                                </p>
                                                            </span>
                                                        </div>
                                                        <span class="image-upload d-flex align-items-center">
                                                            <label for="file-input-other">
                                                                <span class="material-icons add-icon ml-0 ml-sm-3">
                                                                    add
                                                                </span>
                                                            </label>
                                                            <input type="file" (change)="selectFile($event, 'others')" id="file-input-other"
                                                                accept=".pdf, .doc, .docx, image/*, .xlsx, .xls"/>
                                                        </span>
                                                    </div>                                               
                                                </section>
                                            </div>                                        -->
                                        </div>
                                        <!-- <div class="col-12 consent-form-tab p-4">
                                        <mat-form-field class="fields-mat">
                                            <input matInput type="text" [(ngModel)]="intakeForm.NoOfPages"
                                                [ngModelOptions]="{standalone: true}" mask="00000000" inputDigitsOnly />
                                            <mat-placeholder class="placeholder"> Total no. of pages uploaded </mat-placeholder>
                                        </mat-form-field>
                                        <div *ngIf="eR && eR.key == 'numberOfPages'" class="err-msg-cls">
                                            {{eR.message}}
                                        </div>
                                        </div>
                                        <div class="col-12 consent-form-tab p-4">
                                           
                                            <div>
                                                <div style="white-space: pre-wrap;">
                                                    {{patientConsentForm?.disclaimer}}
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            
                            </div>
                            <div class="col-12 col-xl-4 col-md-12">
                                <div class="col-12 consent-form-tab p-sm-4 show-lbl px-0 px-sm-3">
                                    <h5> Total No. of pages uploaded <span class="colorRed">*</span></h5>
                                    <mat-form-field class="fields-mat">
                                        <input matInput type="text" [(ngModel)]="intakeForm.NoOfPages"
                                            [ngModelOptions]="{standalone: true}" mask="00000000" inputDigitsOnly />
                                        <mat-placeholder class="placeholder"> Total No. of pages uploaded
                                        </mat-placeholder>
                                    </mat-form-field>
                                    <div *ngIf="eR && eR.key == 'numberOfPages'" class="err-msg-cls">
                                        {{eR.message}}
                                    </div>
                                </div>
                                <div class="col-12 consent-form-tab p-sm-4 mt-4 mt-sm-0 px-0 px-sm-3">
                                    <!-- <h3 class="mt-3 mb-1"> {{patientConsentForm?.title}} </h3> -->
                                    <div class="disclaimer-text">
                                        <div>
                                            {{patientConsentForm?.disclaimer}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row h-25 d-flex align-items-end mt-4 mt-sm-0 mx-0 mx-lg-3 pb-3 pb-sm-0 w-100">
                                <div class="col-12 d-flex justify-content-end align-items-center">
                                    <button appDebounceClick [debounceTime]="400"
                                        (debounceClick)='moveToSelectedTab("Patient info")'
                                        class="prev-btn d-flex align-items-center justify-content-center">
                                        <span class="material-icons">
                                            keyboard_arrow_left
                                        </span>
                                        Previous
                                    </button>
                                    <button appDebounceClick [debounceTime]="400"
                                        (debounceClick)='moveToSelectedTab("Consent form")'
                                        class="next-btn d-flex align-items-center justify-content-center ml-3">
                                        Next
                                        <span class="material-icons">
                                            keyboard_arrow_right
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Consent form">
                        <div class="col-12 col-lg-10 col-xl-8 px-0">
                            <div class="m-h-75">
                                <div class="col-12 consent-form-tab p-4">
                                    <!-- <h3 class="mt-3 mb-1"> {{patientConsentForm?.title}} </h3> -->
                                    <h3 class="mt-3"> Consent form </h3>
                                    <div>
                                        <p style="white-space: pre-wrap;">
                                            {{patientConsentForm?.shortDescription}}
                                        </p>
                                        <p style="white-space: pre-wrap;">
                                            {{patientConsentForm?.description}}
                                        </p>
                                    </div>
                                </div>
                                <div class="row mx-0">
                                    <div class="col-12 col-sm-8 p-4">
                                        <h3 class="mb-4"> Signature *</h3>
                                        <div>
                                            <signature-pad #signaturePad [options]="signaturePadOptions"
                                                (onBeginEvent)="validatorPress($event, 'signature')">
                                            </signature-pad>
                                        </div>
                                        <div *ngIf="eR && eR.key == 'signature'" class="err-msg-cls">
                                            {{eR.message}}
                                        </div>
                                        <div>
                                            <button class="clear-btn" appDebounceClick [debounceTime]="400"
                                                (debounceClick)="clearSignature()"> Clear </button>
                                        </div>
                                        <div class="col-12 col-sm-6 px-0 mt-3">
                                            <mat-form-field appearance="fill" class="date-picker-field">
                                                <input matInput [matDatepicker]="picker" disabled
                                                    [(ngModel)]="formattedDateConfirmation">
                                                <mat-datepicker-toggle matSuffix [for]="picker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row h-25 d-flex align-items-end mx-0 pb-3 pb-sm-0">
                                <div class="col-12 d-flex justify-content-end align-items-center">
                                    <button appDebounceClick [debounceTime]="400"
                                        (debounceClick)='moveToSelectedTab("Patient Documents")'
                                        class="prev-btn d-flex align-items-center justify-content-center">
                                        <span class="material-icons">
                                            keyboard_arrow_left
                                        </span>
                                        Previous
                                    </button>
                                    <button class="next-btn d-flex align-items-center justify-content-center ml-3"
                                        appDebounceClick [debounceTime]="400" (debounceClick)="submitFormClick()">
                                        Next
                                        <span class="material-icons">
                                            keyboard_arrow_right
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>