<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ETeleHealth</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="font-family: 'Roboto', sans-serif; margin:0px; background-color: #f2f2f2; margin: 20px 0px;">
    <div style="max-width: 640px; margin: auto; background-color: #fff; min-height: 550px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05); text-align: left;">
        <div>
            <div style=" text-align:center">
                <img src="{3}" alt="logo" style="width: 130px; margin: 20px 10px;" />
            </div>
            <div style="min-height: 350px; display: flex; align-items: center; padding: 20px; background-color: #267399;
 color: #fff;">
                <div>
                    <div>
                        <h5 style="margin-bottom: 0px; font-weight: 600; letter-spacing: 0.6px; font-size: 18px;">
                            Hello
                            {0}
                        </h5>
                        <p style="font-size: 14px; margin-top: 10px; line-height: 25px;">
                            {1}
                        </p>

                    </div>
                    <div>
                        <p style="font-size: 14px; margin-top: 10px; line-height: 25px; font-weight: 600; letter-spacing: 0.6px;">
                            {6}
                        </p>
                    </div>
                </div>
            </div>
            <div style="border-top: 1px solid #195979; display: flex; align-items: center; justify-content: flex-end; padding-top:5px;">
                <div style="width: 50%; display: flex; align-items: center; justify-content: flex-start; padding-left: 5px;">
                    <p style="font-size: 12px;">
                        Copyright © ETeleHealth Doctors Inc. <span>{2}</span>
                    </p>
                </div>
                <div style="width: 50%; display: inline-block; text-align: right; ">
                    <img src="{4}" style="width: 25px; height:25px; margin-right: 5px; color: #267399;" />
                    <img src="{5}" style="width: 25px; height: 25px; margin-right: 5px; color: #267399;" />
                </div>

            </div>
        </div>
    </div>
</body>

</html>